@import "styles/utils/variables";
@import "styles/utils/mixin";

.text-h1{
  background-image: linear-gradient(to bottom, var(--font-colors--heading-gradient-1), var(--font-colors--heading-gradient-2));
  font-family: var(--fonts-family--heading-font);
  color: var(--font-colors--heading-primary);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.2;
  width: 100%;
  max-width: 48rem;

  & span {
    background-image: linear-gradient(to right, var(--background-colors--gradient-1), var(--background-colors--gradient-2));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    position: static;
  }


  @include breakpoint(laptop){
    font-size: 3.25rem;
  }

  @include breakpoint(desktop){
    font-size: 3.5rem;
  }
}

.text-h2{
  background-image: linear-gradient(to bottom, var(--font-colors--heading-gradient-1), var(--font-colors--heading-gradient-2));
  font-family: var(--fonts-family--heading-font);
  color: var(--font-colors--heading-primary);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 2.25rem;
  font-weight: 700;
  line-height: 1.2;
  text-align: center;
  width: 100%;
  max-width: 48rem;

  & span {
    background-image: linear-gradient(to right, var(--background-colors--gradient-1), var(--background-colors--gradient-2));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    position: static;
  }


  @include breakpoint(laptop){
    font-size: 3rem;
  }

  @include breakpoint(desktop){
    font-size: 3.5rem;
  }
}

.text-h5{
  background-image: linear-gradient(to bottom, var(--font-colors--heading-gradient-1), var(--font-colors--heading-gradient-2));
  color: var(--swatch--deep-navy);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.4;
  font-family: var(--fonts-family--heading-font);

  @include breakpoint(laptop){
    font-size: 1.5rem;
  }

}

.text-h6{
  background-image: linear-gradient(to bottom, var(--font-colors--heading-gradient-1), var(--font-colors--heading-gradient-2));
  color: var(--swatch--deep-navy);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1.4;
  font-family: var(--fonts-family--heading-font);

  @include breakpoint(tablet){
    font-size: 1.25rem;
  }


}

.text-p{
  font-family: var(--fonts-family--heading-font);
}