@import 'styles/utils/variables';
@import 'styles/utils/mixin';


.hiring {
  width: 100%;
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
  @include flex(column, center, flex-start, 1.5rem);
  align-self: flex-start;

  &.fadeIn {
    animation: fadeIn 1s ease-out;

    @keyframes fadeIn {
      from {
        opacity: 0;
        transform: translateY(20px);
      }
      to {
        opacity: 1;
        transform: translateY(0);
      }
    }
  }

  @include breakpoint(laptop) {
    gap: 2rem;
  }

  .hiring-content {
    @include flex(column, center, flex-start, 1.25rem);
    text-align: left;

  }
}