@import  'styles/utils/variables';
@import 'styles/utils/mixin';

  .container{
    width: 100vw;
    padding-left: 5%;
    padding-right: 5%;
    overflow: hidden;
    z-index: 1;

    .wrapper{
      width: 100%;
      max-width: 80rem;
      margin-left: auto;
      margin-right: auto;
      padding-top: 4rem;
      padding-bottom: 4rem;

      @include breakpoint(tablet){
        padding-top: 6rem;
        padding-bottom: 6rem;

      }

      @include breakpoint(laptop){
        padding-top: 7rem;
        padding-bottom: 7rem;

      }

      .hero{
        perspective: 1300px;
        mix-blend-mode: normal;
        position: relative;
        @include  flex(column, null, center, 3rem);

        @include breakpoint(tablet){
          gap: 4.5rem;
        }

        @include breakpoint(laptop){
          gap: 5rem;
        }

        .gradient-circle {
          width: 40rem;
          height: 2rem;
          background-color: var(--background-colors--gradient-2);
          filter: blur(50px);
          margin-left: auto;
          margin-right: auto;
          position: absolute;
          top: auto;
          bottom: 0;
          left: 0;
          right: 0;
        }

        .hero-text{
          text-align: center;
          width: 100%;
          max-width: 48rem;
          box-sizing: border-box;
          @include flex(column, null, center, 1.25rem);

          @include breakpoint(tablet){
            gap: 1.5rem;
          }

          .buttons{
            @include flex(row, center, center, 16px)
          }
        }

        .hero-image{
          border: 1px solid var(--border--strokes);
          border-radius: var(--border--radius-large);
          overflow: hidden;
          will-change: transform;
          transform-style: preserve-3d;

          .hero-image-wrapper{
            z-index: 1;
            border-radius: var(--border--radius-large);
            background-color: var(--background-colors--primary);
            padding: .2rem;
            position: relative;
            overflow: hidden;

            .hero-image-block{
              border-radius: var(--border--radius-large);
              position: relative;
              overflow: hidden;

              .hero-image{
                width: 100%;
                height: 100%;
                border-radius: var(--border--radius-small);
                overflow: hidden;

                & img{
                  height: 100%;
                }
              }
            }

          }
        }
      }

    }
  }
