@import "styles/utils/variables";
@import "styles/utils/mixin";


.ellipse {
  width: 10rem;
  height: 10rem;
  filter: blur(40px);
  position: absolute;
  top: 0;
  bottom: auto;
  left: 0;
  right: auto;
  animation: moveEllipse 2.5s linear infinite;

  @keyframes moveEllipse {
    0% {
      opacity: .5;
      transform: translate3d(-100px, 0, 0);
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      transform: translate3d(80vw, 0, 0);
    }
  }

  &.blue{
    background-color: var(--background-colors--gradient-1);
  }

  &.green{
    background-color: var(--background-colors--gradient-2);
  }


}