@import 'styles/utils/variables';
@import 'styles/utils/mixin';

.integration-components{
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;

  @include breakpoint(tablet){
    grid-template-columns: 1fr 1fr;
  }

  @include breakpoint(laptop){
    grid-template-columns: 1fr 1fr 1fr;
  }

}