@import "styles/utils/variables";
@import "styles/utils/mixin";

.container{
  background-color: var(--background-colors--primary);
  padding: 3rem 5%;
  width: 100%;
  @include flex(column, center, center, 3rem);
  position: relative;

  @include breakpoint(laptop) {
    padding-top: 6rem;
    padding-bottom: 6rem;
    gap: 4.5rem;
  }

  @include breakpoint(desktop) {
    gap: 5rem;
  }
}