@import "styles/utils/variables";
@import "styles/utils/mixin";


.not-found-component {
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  background: transparent;
  @include flex(row, center, center, 0);

  .not-found-section {
    max-width: 30rem;
    margin: 0 0 15px;
    text-align: center;
    @include flex(column, center, center, 0.5rem);

    & h3{
      font-size: 2.5rem;
      font-weight: 700;

      @include breakpoint(laptop) {
        font-size: 2.5rem;
      }
    }

    & a{
      margin-top: 1rem;
      width: 100%;
    }
  }


}