@import "styles/utils/variables";
@import "styles/utils/mixin";


.start-title {
  &.fadeIn {
    animation: fadeIn 1s ease-out;

    @keyframes fadeIn {
      from {
        opacity: 0;
        transform: translateY(30px);
      }
      to {
        opacity: 1;
        transform: translateY(0);
      }
    }
  }
}

.layout-component {
  grid-row-gap: 3rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  align-items: center;
  display: grid;
  grid-auto-flow: row;
  max-width: 80rem;

  &.fadeIn {
    animation: fadeIn 2s ease-out;

    @keyframes fadeIn {
      from {
        opacity: 0;
        transform: translateY(100px);
      }
      to {
        opacity: 1;
        transform: translateY(0);
      }
    }
  }


  @include breakpoint(tablet) {
    grid-column-gap: 3rem;
  }

  @include breakpoint(laptop){
    grid-column-gap: 5rem;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 4rem;

  }

  .section-content{
    @include flex(column, flex-start, flex-start, 1.25rem);

    & h3{
      text-align: left;
    }


    @include breakpoint(laptop) {
      gap: 1.5rem;
    }
  }

  .image-wrapper{
    border: 1px solid var(--border--strokes);
    border-radius: var(--border--radius-small);
    perspective: 1000px;
    padding: 0.25rem;
    overflow: hidden;

    .feature-circle{
      width: 10rem;
      height: 10rem;
      background-color: var(--background-colors--gradient-1);
      filter: blur(20px);
      border-radius: 50px;
      position: absolute;
      top: 0;
      bottom: auto;
      left: 0;
      right: auto;
      will-change: transform;
      transform-style: preserve-3d;
    }

    .layout-image-block{
      border-radius: var(--border--radius-small);
      perspective: 1300px;
      position: relative;
      overflow: hidden;

      & img{
        width: 100%;
        height: 100%;
      }
    }
  }
}
