@import './variables', './func';

@mixin breakpoint($from, $to: false) {
  @if not $to {
    @media screen and (min-width: getBreakpoint($from)) {
      @content;
    }
  } @else if not $from {
    @media screen and (max-width: (getBreakpoint($to) - 1px)) {
      @content;
    }
  } @else {
    @media screen and (min-width: getBreakpoint($from)) and (max-width: (getBreakpoint($to) - 1px)) {
      @content;
    }
  }
}

$border-stroke: 2px solid var(--border--strokes);
$background-image: radial-gradient(circle farthest-corner at 50% 50%, var(--background-colors--primary) 58%, var(--border--strokes-2));
$border-radius: 30rem;
$flex-center: (
  justify-content: center,
  align-items: center,
  display: flex
);

@mixin circle-style($width, $height, $bg-image: $background-image) {
  width: $width;
  height: $height;
  border: $border-stroke;
  background-image: $bg-image;
  border-radius: $border-radius;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex($direction, $justify, $align, $gap ) {

  display: flex;
  @if not $direction {
    flex-direction: row;
  } @else {
    flex-direction: $direction;
  }

  @if not $align {
    align-items: center;
  } @else {
    align-items: $align;
  }

  justify-content: $justify;
  gap: $gap
}


$gradient1: var(--background-colors--gradient-1);
$gradient2: var(--background-colors--gradient-2);

@mixin textColorGradient($gradient1:$gradient1, $gradient2:$gradient2) {
  background-image: linear-gradient(to right, $gradient1, $gradient2);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  position: static;
}

