@import "styles/utils/variables";
@import "styles/utils/mixin";

.clients{
  z-index: 12;
  overflow: hidden;
  background-color: var(--background-colors--primary);
  padding: 3rem 5%;
  @include flex(column, center, center, 2rem);

  @include breakpoint(tablet){
    padding-top: 4rem;
    padding-bottom: 4rem;
    gap: 2.5rem
  }

  @include breakpoint(laptop){
    padding-top: 5rem;
    padding-bottom: 5rem;
    gap: 3rem
  }

  & h2{
    width: 100%;
    max-width: 48rem;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 1rem;
    color: var(--font-colors--paragraph);

    @include breakpoint(tablet){
      font-size: 1.125rem;
    }

    @include breakpoint(desktop){
      font-size: 1.5rem;
    }

  }

  .logo-component{
    display: flex;
    animation: moveClient 20s linear infinite;
    will-change: animation;
    transform-style: preserve-3d;

    @keyframes moveClient {
      0% {
        transform: translate3d(90rem, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
      }
      100% {
        transform: translate3d(0rem, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
      }
    }

    .logo-list{
      grid-column-gap: 1rem;
      grid-row-gap: 1rem;
      white-space: nowrap;
      flex-wrap: wrap;
      grid-template-rows: auto;
      grid-template-columns: 10rem 10rem 10rem 10rem 10rem 10rem 10rem;
      grid-auto-columns: 1fr;
      justify-content: flex-end;
      align-items: center;
      justify-items: start;
      margin-right: 2rem;
      display: grid;
      padding-top: 1rem;

      @include breakpoint(tablet){
        padding-top: 0;
        grid-column-gap: 1.5rem;
        grid-template-columns: 12.5rem 12.5rem 12.5rem 12.5rem 12.5rem 12.5rem 12.5rem;
      }

      .logo-wrapper{
        justify-content: center;
        align-items: flex-start;
        display: flex;
        padding: 0.75rem 1rem;

        @include breakpoint(tablet){
          padding: 0;

        }

        .logo{
          width: 9rem;
        }

      }
    }

  }
}